:root {
  --card-width: 360px;
  --card-top-spacing: 15%;

  --font-size-normal: 14px;
  --font-size-medium: 18px;
  --font-size-large: 64px;

  --background-color: #fcc20c;
  --hint-color: #8b8b8b;
  --primary-color: #0c0c0c;
  --divider-color: #363636;
  --example-color: #e1aa04;
}

* {
  padding: 0;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--background-color);
}

@media only screen and (max-device-width: 768px) {
  /* Grid should have single column for smaller screens. */
  .main {
    grid-template-columns: 1fr;
  }
}

/* Word of the Day Card */
.word-card {
  display: grid;
  width: var(--card-width);
  height: fit-content;
  margin-top: var(--card-top-spacing);
  justify-self: end;
  padding: 24px;
  background-color: #ebebeb;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media only screen and (max-device-width: 768px) {
  /* Word card should be centered for smaller screens. */
  .word-card {
    width: auto;
    justify-self: center;
  }
}

.word-hint-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1.2rem;
}

.word-hint {
  font-size: var(--font-size-normal);
  font-weight: 600;
  color: var(--hint-color);
}

.word-date {
  justify-self: end;
}

.word-main {
  margin-top: 64px;
  font-size: var(--font-size-large);
  color: var(--primary-color);
  font-family: 'Times New Roman';
  line-height: var(--font-size-large);
  height: var(--font-size-large);
}

.word-main::first-letter {
  text-transform: capitalize;
}

.word-attr-wrapper {
  font-size: var(--font-size-normal);
  font-weight: 500;
  color: var(--primary-color);
}

.word-divider {
  width: 50%;
  border: none;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 24px;
  background-color: var(--divider-color);
}

.word-meaning {
  font-size: var(--font-size-medium);
  color: var(--primary-color);
}

/* Example Card */
.example-card {
  justify-self: start;
  height: fit-content;
  width: var(--card-width);
  margin-top: var(--card-top-spacing);
  padding: 24px;
}

@media only screen and (max-device-width: 768px) {
  /* Hide example card for smaller screens. */
  .example-card {
    opacity: 0;
  }
}

.example {
  font-size: var(--font-size-medium);
  font-weight: 500;
  color: var(--example-color);
}

.example > a {
  color: var(--example-color);
}
